[submodule "submodules/marked"]
	path = submodules/marked
	url = https://github.com/chjj/marked.git
[submodule "submodules/jszip"]
	path = submodules/jszip
	url = https://github.com/Stuk/jszip.git
[submodule "submodules/promise"]
	path = submodules/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "submodules/domliner"]
	path = submodules/domliner
	url = https://github.com/SaschaNaz/DOMLiner.git
