/* Based on Monokai theme */

html {
    background-color: #23241f;
    color: #f8f8f2;
}

body {
    margin: 40px auto 40px auto;
    max-width: 800px;
    width: calc(100% - 80px);
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

blockquote {
    font-style: italic;
    color: #75715e;
}

table, th, td {
    border: 1px solid #75715e;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 10px;
}

:not(pre) > code {
    color: #66d9ef;
}

a {
    color: #e6db74;
}

h1, h2, h3, h4, h5, h6 {
    color: #a6e22e;
}

li::marker {
    color: #f92672;
}

pre {
    padding: 10px;
}

    pre:not([hljs]) {
        color: #66d9ef
    }

::selection{ 
    background: #49483E;
}
